.container {
  display: flex;
  flex-direction: column; /* stack items */
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  height: 100vh; /* full page height */
  /* border: 3px solid red; */
}

.container h1{
    font-family: Gilroy;
    font-size: 29px;
}