.container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center */
    gap: 1rem; /* Space between form and buttons */
}

.formDiv {
    /* border: 3px solid yellow; */
}

.buttons {
    display: flex;
    gap: 0.5rem; /* Space between buttons */
}